<section class="form">
  <acl-input [label]="label" [disabled]="formControl?.disabled || disabled"
    [formControl]="innerFormControl"></acl-input>
  <section *ngIf="!(formControl?.disabled || disabled)">
    <button (click)="addData()">
      <mat-icon>add</mat-icon></button>
  </section>
</section>
<footer *ngIf="value && value.length > 0">
  <ul >
    <li [ngClass]="{ 'editing-indicator': currentEditingData?.index == i }" (click)="setForm(item, i)"
      *ngFor="let item of value; index as i">
      <span>

        {{ item }}
      </span>
      <button *ngIf="!(formControl?.disabled || disabled)" (click)="delteItem(i)">

        <mat-icon>close</mat-icon>
      </button>

    </li>
  </ul>
</footer>