@use "../../scss-core/components/abstract-input/abstract-input.scss" as *;
@use "./select.foundation.scss" as *;
@use "../../scss-core/foundations/category-colors.foundation.scss" as *;

:host {
  @include abstract-input();
  position: relative;


  >section {
    span:last-child {
      cursor: pointer;
    }
  }

  &:has(*[status="error"]) {
    >section {
      border: $select-border-size solid map-get(map-get($category-color-map, "danger"), "base");

      span.material-icons {
        color: map-get(map-get($category-color-map, "danger"), "base");
      }

      label {
        color: map-get(map-get($category-color-map, "danger"), "base");
      }
    }


  }

  ul {
    border-radius: 0 0 1rem 1rem;
    border: 0.3px solid rgba(0, 0, 0, 0.4);
    flex-direction: column;
    position: absolute;
    padding: initial;
    margin-top: 1px;
    padding: 8px 0;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px;

    width: 100%;
    top: 48px;
    z-index: 4;
    background-color: white;


    li {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        padding-left: 10px;
        font-size: $select-font-size;
      }

      &:hover {
        background-color: rgba(201, 198, 198, 0.28);
        transition: 0.2s;
      }
    }

    list-style: none;
    display: none;

    &[expanded] {
      display: flex;
      max-height: 20vh;
      overflow-y: auto;
    }
  }
}