@use "../../scss-core/components/abstract-input/abstract-input.scss" as *;

:host {
  @include abstract-input();
  > section {
    span:last-child {
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    
    &[aria-expanded="false"] {
      display: none;
    }
  }
}
