@use "sass:color";

$base-palette: (
  "base": #0030cc,
  "colors": #0030cc #0036e6 #003cff #1a50ff #3363ff #4d77ff #668aff #809eff
    #99b1ff #b3c5ff #ccd8ff #e6ecff,
) !default;

$scale-length: length(map-get($base-palette, "colors"));

@debug ($scale-length);
@function color-diff($a, $b) {
  $sat: saturation($a) - saturation($b);
  $lig: lightness($a) - lightness($b);
  $fn-sat: if($sat > 0, "desaturate", "saturate");
  $fn-lig: if($lig > 0, "darken", "lighten");

  @return (
    adjust-hue: if(hue($a) - hue($b) == -0deg, 0deg, -(hue($a) - hue($b))),
    #{$fn-sat}: abs($sat),
    #{$fn-lig}: abs($lig)
  );
}

@function palette-diff($palette) {
  $base: map-get($palette, "base");
  $colors: map-get($palette, "colors");
  $diffs: ();

  @each $color in $colors {
    $diffs: append($diffs, color-diff($base, $color));
  }

  @return $diffs;
}

$palette-diff: palette-diff($base-palette);

@function apply-diff($color, $diff) {
  @each $function, $value in $diff {
    $color: call(get-function($function), $color, $value);
  }

  @return $color;
}

@function create-palette($base-color) {
  $palette: ();

  @each $diff in $palette-diff {
    $palette: append($palette, apply-diff($base-color, $diff));
  }

  @return $palette;
}

$root-color-1: #003cff;
$root-color-2: #C80068;
$root-color-3: #18BA92;
$root-color-4: #CCB243;
$root-color-5: #CC5801;
$root-color-6: #C32021;
$root-color-7: #AE59C6;
$root-color-8: #3F3F3F;

$main-color-1-scale: create-palette($root-color-1);
$main-color-2-scale: create-palette($root-color-2);
$main-color-3-scale: create-palette($root-color-3);
$main-color-4-scale: create-palette($root-color-4);
$main-color-5-scale: create-palette($root-color-5);
$main-color-6-scale: create-palette($root-color-6);
$main-color-7-scale: create-palette($root-color-7);
$main-color-8-scale: create-palette($root-color-8);

$main-color-1: nth($main-color-1-scale, 3);
$main-color-2: nth($main-color-2-scale, 3);
$main-color-3: nth($main-color-3-scale, 3);
$main-color-4: nth($main-color-4-scale, 3);
$main-color-5: nth($main-color-5-scale, 3);
$main-color-6: nth($main-color-6-scale, 3);
$main-color-7: nth($main-color-7-scale, 3);
$main-color-8: nth($main-color-8-scale, 3);

$base-index: 3;
$hover-index: 6;
$disabled-index: 8;


$color-map: (
  "primary": (
    "base": nth($main-color-1-scale, $base-index),
    "hover": nth($main-color-1-scale, $hover-index),
    "disabled": nth($main-color-1-scale, $disabled-index),
  ),
  "secondary": (
    "base": nth($main-color-2-scale, $base-index),
    "hover": nth($main-color-2-scale, $hover-index),
    "disabled": nth($main-color-2-scale, $disabled-index),
  ),
  "tertiary": (
    "base": nth($main-color-3-scale, $base-index),
    "hover": nth($main-color-3-scale, $hover-index),
    "disabled": nth($main-color-3-scale, $disabled-index),
  ),
  "warning": (
    "base": nth($main-color-4-scale, $base-index),
    "hover": nth($main-color-4-scale, $hover-index),
    "disabled": nth($main-color-4-scale, $disabled-index),
  ),
  "alert": (
    "base": nth($main-color-5-scale, $base-index),
    "hover": nth($main-color-5-scale, $hover-index),
    "disabled": nth($main-color-5-scale, $disabled-index),
  ),
  "danger": (
    "base": nth($main-color-6-scale, $base-index),
    "hover": nth($main-color-6-scale, $hover-index),
    "disabled": nth($main-color-6-scale, $disabled-index),
  ),
  "info": (
    "base": nth($main-color-7-scale, $base-index),
    "hover": nth($main-color-7-scale, $hover-index),
    "disabled": nth($main-color-7-scale, $disabled-index),
  ),
  "notification": (
    "base": nth($main-color-8-scale, $base-index),
    "hover": nth($main-color-8-scale, $hover-index),
    "disabled": nth($main-color-8-scale, $disabled-index),
  ),
);