<div class="row">
  <div class="col">
    <acl-input class="my-4" type="input" label="Edad" left-icon="123">
    </acl-input>

    <acl-input class="my-4" type="input" label="Edad" right-icon="person">
    </acl-input>

    <acl-input
      class="my-4"
      type="input"
      label="Edad"
      left-icon="123"
      right-icon="person"
    >
    </acl-input>
  </div>
  <div class="col">
    <acl-input error class="my-4" type="input" label="Edad" left-icon="123">
    </acl-input>

    <acl-input error class="my-4" type="input" label="Edad" right-icon="person">
    </acl-input>

    <acl-input
    error
      class="my-4"
      type="input"
      label="Edad"
      left-icon="123"
      right-icon="person"
    >
    </acl-input>
  </div>
</div>
