<div class="row">
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <h1>Normal Input</h1>
    <acl-input class="my-4" label="Edad" left-icon="123"> </acl-input>
    <acl-input class="my-4" label="Edad" right-icon="person"> </acl-input>
    <acl-input class="my-4" label="Edad" left-icon="123" right-icon="person">
    </acl-input>
  </div>
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <h1>Error Input</h1>
    <acl-input status="error" class="my-4" label="Edad" left-icon="123">
    </acl-input>
    <acl-input status="error" class="my-4" label="Edad" right-icon="person">
    </acl-input>
    <acl-input
      status="error"
      class="my-4"
      label="Edad"
      left-icon="123"
      right-icon="person"
    >
    </acl-input>
  </div>

  <div class="col d-flex flex-column justify-content-center align-items-center">
    <h1>Disabled Input</h1>
    <acl-input status="disabled" class="my-4" label="Edad" left-icon="123">
    </acl-input>
    <acl-input status="disabled" class="my-4" label="Edad" right-icon="person">
    </acl-input>
    <acl-input
      status="disabled"
      class="my-4"
      label="Edad"
      left-icon="123"
      right-icon="person"
    >
    </acl-input>
  </div>
</div>
