<section>
  <span class="material-icons" *ngIf="icon">{{ icon }}</span>

  <section class="combo-wrap">
    <label for="cpf-id3">{{ label }}</label>
    <input
      [attr.color]="color"
      [attr.status]="status"
      [placeholder]="placeholder"
      type="text"
      id="jokes"
      role="combobox"
      aria-owns="joketypes"
      aria-autocomplete="list"
      aria-expanded="true"
      data-active-option="item1"
      aria-activedescendant="item1"
    />
  </section>
  <span
    aria-expanded="true"
    aria-owns="joketypes"
    data-trigger="multiselect"
    class="material-icons"
    >expand_more</span
  >
</section>
<ul id="joketypes" role="listbox">
  <ng-container *ngIf="items">
    <li *ngFor="let item of items" class="active" role="option" id="item1">
      <acl-dropdown-item label="{{ item.display }}"> </acl-dropdown-item>
    </li>
  </ng-container>
</ul>
<span *ngIf="hint" class="text-base">{{ hint }}</span>
