@use "../../scss-core/protons/sizing.scss" as *;
@use "../../scss-core/foundations/category-colors.foundation.scss" as *;
@use "../../scss-core/protons/themes/base.scss" as *;

$category-colors: $category-color-map;
$button-border-width: 0.1 * $size-proton;
$button-border-radius: $size-proton;
$button-default-color: $main-color-9-proton;
$button-default-background-color: $main-color-9-proton;

$button-padding-xxsmall: 0.1 * $size-proton;
$button-font-size-xxsmall: 0.8 * $rem-size-proton;

$button-padding-xsmall: 0.4 * $size-proton;
$button-font-size-xsmall: 1 * $rem-size-proton;

$button-padding-small: 0.8 * $size-proton;
$button-font-size-small: 1.2 * $rem-size-proton;

$button-y-padding-medium: 0.8 * $size-proton;
$button-x-padding-medium: 0.8 * $size-proton;
$button-font-size-medium: 1.4 * $rem-size-proton;

$button-x-padding-large: 1.6 * $size-proton;
$button-y-padding-large: 0.8 * $size-proton;
$button-font-size-large: 1.6 * $rem-size-proton;
