@use "./button.foundation.scss" as *;

%medium {
  display: flex;
  align-items: center;
  padding: $button-y-padding-medium $button-x-padding-medium;
  font-size: $button-font-size-medium;
  border-radius: $button-border-radius;
  cursor: pointer;
}

@mixin outline-button-style($name) {
  &[kind="outline"] {
    background-color: $button-default-background-color;
    border: $button-border-width solid
      map-get(map-get($category-colors, $name), "base");
    color: map-get(map-get($category-colors, $name), "base");

    &:hover {
      border: $button-border-width solid
        map-get(map-get($category-colors, $name), "hover");
    }

    &[disabled] {
      border: $button-border-width solid
        map-get(map-get($category-colors, $name), "disabled");
      color: map-get(map-get($category-colors, $name), "disabled");
    }
  }
}
@mixin button-component {
  button {
    @extend %medium;

    &[size="large"] {
      padding: $button-y-padding-large $button-x-padding-large;
      font-size: $button-font-size-large;
    }
    &[size="medium"] {
      @extend %medium;
    }
    &[size="small"] {
      padding: $button-padding-small;
      font-size: $button-font-size-small;
    }

    color: $button-default-color;
    border: $button-border-width solid
      map-get(map-get($category-colors, "primary"), "base");
    background-color: map-get(map-get($category-colors, "primary"), "base");

    @include outline-button-style("primary");

    @each $name, $color-obj in $category-colors {
      &[color="#{$name}"] {
        border: $button-border-width
          solid
          map-get(map-get($category-colors, $name), "base");
        background-color: map-get(map-get($category-colors, $name), "base");
        &:hover {
          border: $button-border-width
            solid
            map-get(map-get($category-colors, $name), "hover");
          background-color: map-get(map-get($category-colors, $name), "hover");
        }
        &[disabled] {
          border: $button-border-width
            solid
            map-get(map-get($category-colors, $name), "disabled");
          background-color: map-get(
            map-get($category-colors, $name),
            "disabled"
          );
        }

        @include outline-button-style($name);
      }
    }
  }
}

@include button-component();
