@use "../scss-core/themes/base.scss" as *;
@use "../scss-core/sizing.scss" as *;

$input-border-size: 0.1 * $size-token;
$input-border-radius: 1.8 * $size-token;
$input-icons-margin-x: 1.6 * $size-token;
$input-font-size: 1.4 * $rem-size-token;
$input-span-font-size: 1.2 * $rem-size-token;
$input-section-padding-y: 0.5 * $size-token;

$input-icon-width: calc(30px - #{(0 * $input-icons-margin-x)});
$input-main-section-width: calc(
  100% - #{(2 * $input-icons-margin-x)} - #{$input-icon-width}
);

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  &[focus] {
    > section {
      border: $input-border-size solid nth($main-color-1-scale, 3);
    }
  }
  &[status='error'] {
    > section {
      border: $input-border-size solid
        map-get(map-get($color-map, "danger"), "base");

      span.material-icons {
        color: map-get(map-get($color-map, "danger"), "base");
      }
    }
    span {
      color: map-get(map-get($color-map, "danger"), "base");
    }
  }
  > section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: $input-section-padding-y 0;
    border-radius: $input-border-radius;

    border: $input-border-size solid nth($main-color-8-scale, 12);

    span.material-icons {
      width: $input-icon-width;
      font-size: 2.8rem;
    }
    span.material-icons:first-child {
      margin-left: $input-icons-margin-x;
    }

    span.material-icons:last-child {
      margin-right: $input-icons-margin-x;
    }
    > section {
      display: flex;
      margin: 0 $input-icons-margin-x;
      flex-direction: column;
      width: $input-main-section-width;

      label {
        font-size: $input-font-size;
        margin: 0;
        color: nth($main-color-8-scale, 5);
        // border: $input-border-size solid
        //   map-get(map-get($color-map, "danger"), "base");
        width: 100%;
      }

      input,
      textarea {
        width: 100%;
        border: 0;
        // border: $input-border-size solid
        //   map-get(map-get($color-map, "danger"), "base");
        // border-radius: 0 0 $input-border-radius $input-border-radius;
        font-size: $input-font-size;
        outline: none;
        font-weight: 700;
      }
    }
  }
  span {
    font-size: $input-span-font-size;
  }
}

// @each $name, $color-obj in $color-map {
//   &[color="#{$name}"] {
//     border: 1px solid map-get($color-obj, "base");
//   }
// }
